button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	vertical-align: middle;
	float: left;
	background: steelblue;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 0;
	line-height: 42px;
	padding: 0 20px;

	&:hover {
	}

	&:active,
	&:focus {
	}
}