.about-the-studio {
	#main {

		#about-studio {
			@include rem(margin, 50px 0);

			.about-row {
				@include rem(padding, 12px 0);
    			float: left;

				.section-image {
					img {
						display: block;
					}
					@include media($large-screen-up) {
						@include span-columns(8);
					}
				}

				.section-text {
					background-color: white;
					@include rem(padding, 69px 53px);
    				text-align: center;


					@include media($large-screen-up) {
						@include span-columns(4);
					}
				}
			}
		}
	}
}