.page-template-default {

	#main {

		#about-studio {
			@include rem(margin, 50px 0);

			.about-row {
				@include rem(padding, 12px 0);
    			float: left;

				.section-image {
					display: block;
					height: 350px;
					background-size: cover;
					background-position: center;

					@include media($large-screen-up) {
						@include span-columns(8);
					}
				}

				.section-text {
					background-color: white;
					@include rem(padding, 50px);
					height: 350px;
    				text-align: center;


					@include media($large-screen-up) {
						@include span-columns(4);
					}
				}
			}
		}
	}
}